body {
  background: white;
}

input[type="text"] {
  width: 500px;
}


.CodeMirror.cm-s-default {
  font-family: monospace;
  background: #2B2B2B;
  color: #A9B7C6;
  margin-left: 2em;
  margin-top: 2em;
  height: 600px;
  width: 100%;
} 


