body {
  background: white;
}

input[type="text"] {
  width: 500px;
}

.clipboard {

  padding: 10px !important;
  margin: 10px !important;
  float: right !important;
  line-height: 3em !important;
}

#mascot {
  height: 75px;
  width: 75px;
}

i.smallIcon {
  font-size: .8em !important; 
}
/* .ui.form .field>label {
  color: blue;
} */
#textContainer {
  margin-top:6%;
}

.buttonColl {
  float: right;
}

.tab {
	  cursor: pointer;
    display: inline-block;
    min-height: 1em;
    outline: 0;
    border: none;
    vertical-align: baseline;
    background: #e0e1e2 none;
    color: rgba(0,0,0,.6);
    font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
    margin: 0 .25em 0 0;
    padding: .78571429em 1.5em .78571429em;
    text-transform: none;
    text-shadow: none;
    font-weight: 700;
    line-height: 1em;
    font-style: normal;
    text-align: center;
    text-decoration: none;
    border-radius: .28571429rem;
    -webkit-box-shadow: 0 0 0 1px transparent inset, 0 0 0 0 rgba(34,36,38,.15) inset;
    box-shadow: 0 0 0 1px transparent inset, 0 0 0 0 rgba(34,36,38,.15) inset;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: opacity .1s ease,background-color .1s ease,color .1s ease,background .1s ease,-webkit-box-shadow .1s ease;
    transition: opacity .1s ease,background-color .1s ease,color .1s ease,background .1s ease,-webkit-box-shadow .1s ease;
    transition: opacity .1s ease,background-color .1s ease,color .1s ease,box-shadow .1s ease,background .1s ease;
    transition: opacity .1s ease,background-color .1s ease,color .1s ease,box-shadow .1s ease,background .1s ease,-webkit-box-shadow .1s ease;
    will-change: '';
    -webkit-tap-highlight-color: transparent;
}
.tab:hover {
    background-color: #cacbcd;
    background-image: none;
    -webkit-box-shadow: 0 0 0 1px transparent inset, 0 0 0 0 rgba(34,36,38,.15) inset;
    box-shadow: 0 0 0 1px transparent inset, 0 0 0 0 rgba(34,36,38,.15) inset;
    color: rgba(0,0,0,.8);
}
.tab:active {
	position:relative;
	top:1px;
}

.wrapperButton {
  padding: 0 !important;
}


i.icon {
  font-size: 1.75em !important;   
}

#smallerTab {
  font-size: 1em !important;   
}
#clipButton {
  margin: 10px;
}

.CodeMirror.cm-s-default {
  font-family: monospace;
  background: #2B2B2B;
  color: #A9B7C6;
  margin-top: 4em;
  margin: auto;
  width: 90%;
} 


